/*TABLET*/


@media (min-width: 481px) and (max-width: 1023px) {

/*Header*/
    .header-flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #DFDFDE;
    }

/*Menu*/

    .menu-flex-desk {
        display: none;
    }

    .menu-flex-tablet {
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-left: 0px;
    }

    .a-hero {
        border-radius: 0;
        text-align: center;
    }

    .border-radius {
        border-radius: 15%;
    }

    nav {
        div {
            button {
                &::selection {
                    text-decoration: none;
                    font-size: 1.3em;
                    font-weight: bold;
                    color: rgb(231, 234, 236);
                    background-color: rgba(116, 0, 116, 0.7);
                }
            }
        }
    }

    .btn {
        padding: 5px 25px;
    }

    .dropdown-menu {
        padding: 0px;
    }

/*Footer*/

    .footer-flex {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        background-color: #DFDFDE;
    }

    .div-contacto-mail {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .div-contacto-wp {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    .div-contacto-flex {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 10px;
        margin-top: 35px;
    }

    .div-newsletter-flex {
        display: none;
    }

    .div-iconos-redes-img {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }


    .div-boton-subir-flex {
        display: flex;
        flex-flow: row;
        justify-content: right;
        align-items: center;
        margin-top: 25px;
        margin-right: 25px;
    }


/*CUESTIONES PARTICULARES DEL "INDEX"*/

/*Main*/

    main {
        .section-mision-flex {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            text-align: center;

            div {
                margin: 40px;
            }
        }

        .section-cambio-flex {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            text-align: center;

            div {
                margin: 40px;
            }
        }

        .main-img-primera {
            width: 450px;
            height: 300px;
            margin-bottom: 40px;
        }

        .main-img-segunda {
            width: 400px;
            height: 400px;
            margin-bottom: 40px;
            margin-right: 0px;
        }
    }



/*CUESTIONES PARTICULARES DE "PRODUCTOS"*/

/*Main*/

    main {
        .producto-flex {
            div {
                h2 {
                    font-size: 2.5em;
                    font-weight: bolder;
                }
            }
        }

        .producto-titulo-flex {
            h3 {
                font-size: 1.2em;
                border-radius: 50%;
            }
        }

        section {
            article {
                >h3 {
                    text-align: center;
                }
            }
        }
    }

    .productos-img {
        width: 100px;
        height: 100px;
        border-radius: 5%;
    }

    .producto-flex {
        display: flex;
        flex-flow: column;
        justify-content: center;
        row-gap: 50px;
        border: solid 2px black;
    }

    .productos-hamburguesas-flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .productos-congelados-flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
}


/*CUESTIONES PARTICULARES DE "¿QUIÉNES SOMOS?"*/

/*Main*/

main {
    .hero {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100vh - 273px);
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../image/hero-quienes-somos.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        h2 {
            color: white;
            font-size: 40px;
        }
    }

    .a-hero {
        font-size: 1em;
    }

    .section-img-founders {
        width: 200px;
        height: 200px;
    }

    .section-img-founders-flex {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
    }

    .div-texto-presentacion {
        text-align: center;
    }
}


/*CUESTIONES PARTICULARES DE "TIPS SALUDABLES"*/

main {
    .main-img-tip {
        border-radius: 5%;
        width: 400px;
        height: 300px;
        margin-bottom: 40px;
        margin-top: 20px;
    }

    .section-tip1-flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .section-tip2-flex {
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


/*CUESTIONES PARTICULARES DE "CONTACTO"*/

main {

    .div-contacto-conocenos-flex {
        flex-flow: column wrap;
    }

    .div-contacto-mail-conocenos-flex {
        flex-flow: row wrap;
    }

    .div-contacto-wp-conocenos-flex {
        flex-flow: row wrap;
        margin-bottom: 30px;
    }

    .div-nuestros-flex {
        flex-flow: column wrap;
        margin-bottom: 30px;
    }

    .donde-estamos-flex {
        margin-bottom: 30px;
    }

    .iframe-flex {
        width: 250px;
        height: 150px;

        &:hover {
            border-radius: 5%;
            box-shadow: 2px 2px 2px grey;
            border-color: 5px solid brown;
            width: 80%;
            height: 70vh;
        }
    }


    #form-order {
        p {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            text-align: center;
            font-size: 1em;
        }
    }
}


/*SMARTPHONE*/

@media (max-width: 480px) {

/*Header*/

    header {
        p {
            font-size: 1.2em;
        }

        h1 {
            font-size: 3em;
        }

        .header-flex {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #DFDFDE;
        }
    }

/*Menu*/ 

    .menu-flex-desk {
        display: none;
    }

    .menu-flex-tablet {
        display: block;
    }

    nav {
        margin-top: 0px;
    }

/*Footer*/

    .div-newsletter-flex {
        display: none;
    }


/*CUESTIONES PARTICULARES DEL "INDEX"*/

    main {
        .section-mision-flex {
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .section-cambio-flex {
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .main-img-primera {
            width: 100%;
            margin-bottom: 40px;
        }

        .main-img-segunda {
            width: 100%;
            margin-bottom: 40px;
        }
    }


/*CUESTIONES PARTICULARES DE "PRODUCTOS"*/

    main {

        .producto-flex {
            div {
                h2 {
                    font-size: 2.5em;
                    font-weight: bolder;
                }
            }
        }

        section {
            article {
                >h3 {
                    text-align: center;
                }
            }
        }

        //VER DE HACER UN BUCLE

        .hamburguesa1:hover {
            transform: none;
        }

        .hamburguesa2:hover {
            transform: none;
        }

        .hamburguesa3:hover {
            transform: none;
        }

        .hamburguesa4:hover {
            transform: none;
        }

        .congelado1:hover {
            transform: none;
        }

        .congelado2:hover {
            transform: none;
        }

        .congelado3:hover {
            transform: none;
        }

        .congelado4:hover {
            transform: none;
        }

        .productos-img {
            width: 100px;
            height: 100px;
            border-radius: 5%;
        }

        .producto-flex {
            display: flex;
            flex-flow: column;
            justify-content: center;
            row-gap: 50px;
            border: solid 2px black;
        }

        .productos-hamburguesas-flex {
            display: flex;
            flex-flow: wrap;
            justify-content: space-around;
        }

        .productos-congelados-flex {
            display: flex;
            flex-flow: wrap;
            justify-content: space-around;
        }
    }

/*CUESTIONES PARTICULARES DE "¿QUIÉNES SOMOS?"*/

    main {
        .hero {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: calc(100vh - 273px);
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../image/hero-quienes-somos.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;

            h2 {
                color: white;
                font-size: 40px;
            }
        }

        .a-hero {
            font-size: 1em;
        }


        .section-img-founders {
            width: 200px;
            height: 200px;
        }

        .section-img-founders-flex {
            display: flex;
            flex-flow: row;
            justify-content: space-around;
            align-items: center;
        }

        .div-texto-presentacion {
            text-align: center;
        }
    }

/*CUESTIONES PARTICULARES DE "TIPS SALUDABLES"*/

    main {
        .main-img-tip {
            border-radius: 5%;
            width: 400px;
            height: 300px;
            margin-bottom: 40px;
            margin-top: 20px;
        }

        .section-tip1-flex {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .section-tip2-flex {
            display: flex;
            flex-flow: row-reverse wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }


/*CUESTIONES PARTICULARES DE "CONTACTO"*/

    main {
        .div-contacto-conocenos-flex {
            flex-flow: column wrap;
        }

        .div-contacto-mail-conocenos-flex {
            flex-flow: row wrap;
        }

        .div-contacto-wp-conocenos-flex {
            flex-flow: row wrap;
            margin-bottom: 30px;
        }

        .div-nuestros-flex {
            flex-flow: column wrap;
            margin-bottom: 30px;
        }

        .donde-estamos-flex {
            margin-bottom: 30px;
        }

        .iframe-flex {
            width: 250px;
            height: 150px;

            &:hover {
                display: none;
            }

        }


        #form-order {
            p {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                text-align: center;
                font-size: 1em;
            }
        }
    }
}