/* CUESTIONES PARTICULARES DE "CONTACTO" */

#grid-areas-contacto {
    display: grid;
    grid-template-areas:
        "header"
        "menu"
        "main"
        "footer";
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-row-gap: 20px;
}

header {
    grid-area: header;
}

nav {
    grid-area: menu;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}


main {
    .campo-obligatorio-p {
        font-style: italic;
        font-size: small;
    }

    ul {
        font-size: 1em
    }

    h3 {
        font-size: 1.5em
    }


    .div-contacto-conocenos-flex {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .div-contacto-mail-conocenos-flex {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }

    .div-contacto-wp-conocenos-flex {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        margin-left: -153px;
    }

    .div-nuestros-flex {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    .donde-estamos-flex {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .iframe-flex {
        display: flex;
        flex-flow: row;
        border-radius: 5%;
        box-shadow: 2px 2px 2px grey;
        border-color: 5px solid brown;
        width: 400px;
        height: 250px;
        justify-content: center;
        align-items: center;
        transition: 2s;

        &:hover {
            border-radius: 5%;
            box-shadow: 2px 2px 2px grey;
            border-color: 5px solid brown;
            width: 80%;
            height: 70vh;
        }
    }

    #form-order {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin-left: 20px;
        width: 55%;

        p {
            font-size: 1em;
        }
    }

    .div-botones-formulario {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }

    .botones-formulario {
        margin: 10px;
    }
}