/*CUESTIONES PARTICULARES DE "PRODUCTOS"*/

#grid-areas-productos {
    display: grid;
    grid-template-areas:
        "header"
        "menu"
        "main"
        "footer";
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-row-gap: 0px;
}


header {
    grid-area: header;
}

nav {
    grid-area: menu;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*Main*/


.producto-flex {
    display: flex;
    flex-flow: column;
    justify-content: center;
    row-gap: 50px;
    border: solid 2px black;

    div {
        h2 {
            font-size: 2.5em;
            font-weight: bolder;
            margin-bottom: -50px;
        }
    }
}

.producto-titulo-flex {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    h3 {
        font-size: 1.5em;
        font-weight: bold;
        color: rgb(231, 234, 236);
    }
}

.hamburguesa1 {
    &:hover {
        transform: scale(1.3);
    }
}

.hamburguesa2 {
    @extend .hamburguesa1;

    &:hover {
        margin-top: 30px;
    }
}

.hamburguesa3 {
    @extend .hamburguesa1;
}

.hamburguesa4 {
    @extend .hamburguesa1;
}

.congelado1 {
    &:hover {
        transform: scale(1.3);
    }
}

.congelado2 {
    @extend .congelado1;
}

.congelado3 {
    @extend .congelado1;
}

.congelado4 {
    @extend .congelado1;
}

.circulo-producto-flex {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 160px;
    width: 160px;
    padding: 50px;
    background-color: rgba(116, 0, 116, 0.7);
}

main {
    section {
        article {
            >h3 {
                text-align: center;
            }
        }
    }
}


.productos-img {
    width: 200px;
    height: 200px;
    border-radius: 5%;
}

.productos-hamburguesas-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.productos-congelados-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

}